.search-result {
  margin-top: 50px;
  text-align: center;
}
.result-title{
  font-size: 16px;
}
.result-cocktails {
  margin: 30px 0px 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


@media screen and (min-width: 769px) {
  .result-title{
    font-size: 20px;
  }
  .result-cocktails {
    justify-content: center;
  }
}
