@media screen and (min-width: 769px) {
  #titre-recherche-ingredient {
    font-size: 30px;
  }

  #btn-recherche-par-ingredient {
    font-size: 22px;
  }
 
  #btn-hasard {
    font-size: 22px;
    width: 150px;
  }

  #titre-resultat-recherche, #titre-ingredient-cocktail {
    font-size: 25px;
  }

/*
  h3 {
    margin-bottom: 20px;
  }

  #selection-ingredient{
    display: flex;
    flex-direction: column;
  }

  .selection-box {
  margin-top: 5px;
  margin-bottom: 5px;
  }

  .bouton-recherche-par-ingredient {
    height: 50px;
    width: 100px;
  }

  .resultat-recherche {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .ingredients{
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
}