@media screen and (min-width: 769px) {
  #gestion-cocktails-moment {
    width: 450px;
    height: 400px;
  }

  #titre-gestion-cocktail-moment {
    font-size: 20px;
  }

  #nom-cocktail-moment {
    font-size: 18px;
    margin-left: 15px;
  }

  #icon-modification-cocktail-moment {
    font-size: 40px;
  }
}