#gestion-cocktails-moment{
  background-color: yellow;
  border-style: double;
  margin: 10px 0px 10px 0px;
  width: 300px;
  height: 250px;
}

#titre-btn-cocktail-moment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
}

#titre-gestion-cocktail-moment {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.item-cocktail-moment {
  display: flex;
  flex-direction: row;
   align-items: center; 
  margin: 4px;
}

#nom-id-cocktail-moment {
  display: flex;
  flex-direction: column;
}

#id-cocktail-moment {
  font-size: 10px;
}

#btn-remplacer-cocktail-moment {
  border-radius: 5px;
  font-size: 10px;
  height: 20px;
}