#gestion-cocktails-moment{
  background-color: rgb(249,231,159);
  border-style: double;
  margin: 10px 0px 10px 0px;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
}

#titre-btn-cocktail-moment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
}

#titre-gestion-cocktail-moment {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#items-cocktails-moment {
  overflow: auto;
  }

.item-cocktail-moment {
  display: flex;
  flex-direction: row;
   align-items: center; 
  margin: 4px;
}

#nom-id-cocktail-moment {
  display: flex;
  flex-direction: column;
}

#icon-modification-cocktail-moment {
  font-size: 30px;
}

#nom-cocktail-moment{
  font-size: 16px;
  margin-left: 15px;
}