.form-ingredient-category-add {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

#ingredient-category-add-name {
  margin-right: 10px;
}



@media screen and (min-width: 769px) {
  .form-ingredient-category-add {
    margin: 20px 50px 0px 0px;
  }
}