@media screen and (min-width: 769px) {
  #titre-verre-ajoute {
    font-size: 25px;
  }

  #box-verre-ajout {
    width: 500px;
  }

  #btn-ajout-supp-verre {
    font-size: 15px;
  }

  #btn-ajout-nv-verre {
    font-size: 15px;
  }
}