#titre-verre-ajoute {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#btn-ajout-nv-verre {
  font-size: 10px;
  margin: 30px
}

#btn-ajout-supp-verre {
  font-size: 10px;
  margin : 10px 10px 20px 10px;
}

#box-verre-ajout {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  width: 250px;
}