#titre-verre-ajoute {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#btn-ajout-nv-verre {
  font-size: 10px;
  border-radius: 5px;
  padding: 5px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}