.form-glass-add {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#glass-add-name {
  margin-right: 10px;
}


@media screen and (min-width: 769px) {
  .form-glass-add {
    margin: 20px 50px 0px 0px;
  }

}