#titre-ingredient-ajoute {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#btn-ajout-nv-ingredient {
  font-size: 10px;
  margin: 10px;
}

#btn-ajout-supp {
  font-size: 15px;
}