@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  src: url('../../assets/police/PirataOne-Regular.ttf')
}

.header {
  display: flex;
  flex-direction: row;

  height: 10vh;
  background-color: #B9E8F6;
}

.iconMenu{
    margin: 5px 0px 5px 10px;
}

.titre {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-family: 'Pirata One';
  margin-left: 50px;
}

.iconLogin {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px 10px 5px 0px;
}

