@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  src: url('../../assets/police/PirataOne-Regular.ttf')
}

@media screen and (max-width: 768px) {
 .header {
  /*height: 8vh;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #DAECF1;
}

.menu-titre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#titre {
  font-size: 20px;
  font-family: 'Pirata One';
}

/* #auth {
   font-size: 10px;
   border-radius: 5px;
   display: flex;
  align-items: center;
  float: left;
  margin-right: 15px; 
} */ 
}