#auth {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#user {
  text-align: right;
  font-size: 8px;
}

.auth-bouton {
  border-radius: 5px;
  font-size: 8px;
  margin-top: 2px ;
  height: 15px;
  display: flex;
  align-items: center;
}