@media screen and (min-width: 769px) {
  #auth {
    font-size: 20px;
    margin-right: 40px;
    margin-bottom: 5px;
  }

  #user {
    font-size: 15px;
  }

  .auth-bouton {
    font-size: 15px;
    height: 25px;
  }

  #auth-bouton {
    font-size: 15px;
    height: 30px;
    width: 150px;
  }
}