.login {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 30%;
}
.connexion {
  display: flex;
  flex-direction: column;
}

.bouton {
  margin: 5px;
}

/*
.boutons {
  display: flex;
  flex-direction: column;
}*/