.data-modified-ingredient {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 769px) {
  .data-modified-ingredient {
    flex-direction: row;
  }

  .categorie {
    margin-top: 16px;
  }

  .name {
    margin: 0px 5px 0px 0px;
  }
}