.form-ingredient-add {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}

#ingredient-add-name {
  grid-column: 1/3;
  grid-row: 1/2;
}

#ingredient-add-categories {
  grid-column: 1/3;
  grid-row: 2/3;
  margin: 0px 10px 0px 10px;
}

#ingredient-add-btn {
  grid-column: 3/4;
  grid-row: 1/3;
}


@media screen and (min-width: 769px) {
  .form-ingredient-add {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 50px 20px 0px;
  }

  #ingredient-add-categories {
    margin-top: 7px;
  }
}