@media screen and (min-width: 769px) {
  #titre-recherche-ingredient {
    font-size: 25px;
  }

  #btn-recherche-par-ingredient {
    font-size: 15px;
    width: 200px;
    height: 40px;
  }
 
  #btn-hasard {
    font-size: 22px;
    width: 150px;
  }

  #titre-resultat-recherche, #titre-ingredient-cocktail {
    font-size: 20px;
  }

  #selection-ingredient {
    display: flex;
    flex-direction: row;
  }

  #recherche{
    width: 95%;
  }

}