#titre-modif-cocktail-moment {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: bold;
}

#btn-validation-modif {
  font-size: 10px;
  margin: 10px;
}

#div-autocomplete {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#auto-complete-1, #auto-complete-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}