.delete-glass {
  margin: 20px 0px 0px 10px;
}

.message {
  color: red;
}

@media screen and (min-width: 769px) {
  .delete-glass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 180px 30px 180px;
  }

  .message {
    font-size: 20px;
  }
}