.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px; 
} 

.icon-nav-item {
  font-size: 20px;
} 

.txt-nav-item {
  font-size: 10px;
  text-align: center;
}

.visibilite{
  display: none;
}