@media screen and (min-width: 769px) {
 .nav-item {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  margin-left: 5px; 
  } 

  .icon-nav-item {
    font-size: 30px;
  }

  .txt-nav-item {
    font-size: 12px;
    text-align: start;
    margin-left: 5px;
  }

  .visibilite{
    display: block;
  }
}