.table-container {
  max-height: 380px;
}

.table-cell-head {
  min-width: auto;
}





@media screen and (min-width: 769px) {
  .table-container {
    max-height: 700px;
  }
  
  .table-cell-head {
    min-width: 170px;
  }
}