@media screen and (min-width: 769px) {
  #titre-ajout-cocktail {
    font-size: 30px;
  }

  #div-photo {
  justify-content: flex-start;
  }

  #box-ingredient{
    justify-content: flex-start;
  }

  #div-etapes-preparation {
    display: flex;
    flex-direction: column;
    margin: 10px;
  } 

  .etape-nv-cocktail {
    margin-top: 10px;
    width: 1400px;
  }
}