@media screen and (min-width: 769px) {
  #titre-ajout-cocktail {
    font-size: 30px;
  }

  #div-photo {
  justify-content: flex-start;
}

#box-ingredient{
  /* flex-direction: row; */
  justify-content: flex-start;
  /* flex-wrap: wrap; */
}

.ingredient-nv-cocktail{
  margin-left: 15px;
}

#div-etapes-preparation {
  display: flex;
  flex-direction: column;
  margin: 10px;
} 
}