#titre-ajout-cocktail {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#nom-nv-cocktail {
  margin-left: 5px;
  margin-right: 5px;
}

#div-photo {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#verre-nv-cocktail {
  margin-left: 5px;
  margin-right: 5px;
}

#div-ingredients{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#ingr-bouton, #etapes-bouton {
  display: flex;
  flex-direction: row;
}
#btn-ajout-supp{
  margin-left: 30px;
  width: 20px;
  height: 20px;
}

#box-ingredient, #box-etapes{
  display: flex;
  flex-direction: column;
}

#div-etapes-preparation {
  display: flex;
  flex-direction: column;
  margin: 10px;
} 

.etape-nv-cocktail {
  margin-top: 10px;
  width: 300px;
}


#formulaire-ajout{
  display: flex;
  flex-direction: column;
}

#btn-envoyer {
  margin-top: 50px;
  width: 300px;
  font-size: 15px;
}

#photo-cocktail{
  font-size: 15px;
}

