@media screen and (min-width: 769px) {
  #titre-ajout-cocktail {
    font-size:25px;
  }
  #nom-alcool {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #div-photo {
  justify-content: flex-start;
  font-size: 15px;
  }

  #photo-cocktail {
    margin-left: 10px;
  }

  #ingr-boutonn, #etapes-bouton {
    font-size: 15px;
  }
  #btn-ajout-supp {
    font-size: 20px;
  }

  #box-ingredient{
    justify-content: flex-start;
  }

  #div-etapes-preparation {
    display: flex;
    flex-direction: column;
    margin: 10px;
  } 


  .etape-nv-cocktail {
    margin-top: 10px;
    margin-left: 10px;
    width: 1000px;
    font-size: 15px;
  }

  #btn-ajout-nv-cocktail {
    font-size: 15px;
  }
}