#gestion-cocktails {
  background-color: rgb(36, 177, 170);
  border-style: double;
  margin: 10px 0px 10px 0px;
  width: 300px;
  height: 400px;
  overflow: auto;
}

#titre-btn-cocktail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
}

#titre-gestion-cocktail {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#btn-ajouter-cocktail {
  border-radius: 5px;
  font-size: 10px;
  height: 20px;
}

.item-cocktail {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin: 4px;
}

#nom-id-cocktail {
  display: flex;
  flex-direction: column;
  width: 230px;
}

#id-cocktail {
  font-size: 10px;
}
