@media screen and (min-width: 769px) {
  #gestion-cocktails {
    width: 450px;
    height: 400px;
  }

  #titre-gestion-cocktail {
    font-size: 20px;
  }

  #nom-cocktail {
    font-size: 18px;
    margin-left: 15px;
  }

  #icon-modification-cocktail, #icon-suppression-cocktail {
    font-size: 30px;
  }

  #icon-ajout-cocktail {
    font-size: 50px;
  }
}