#connexion-inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#connexion, #inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
  margin: 10px;
}

#connexion-google {
  margin-top: 30px;
  margin-bottom: 50px;
}

.auth-bouton {
  padding: 5px
}

.inputs-connexion, .inputs-inscription{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 10px;
}

.inputs-inscription {
  margin-top: 50px;
}

#mail-utilisateur-connexion, #mdp-utilisateur-connexion, #mail-utilisateur-inscription, #mdp-utilisateur-inscription, #nom-utilisateur-inscription {
  margin: 2px;
  font-size: 10px;
}