@media screen and (min-width: 769px) {
  #connexion-inscription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
    font-size: 20px;
  }

  #connexion, #inscription{
    margin: 50px;
    padding: 20px;
  }

  #mail-utilisateur-connexion, #mdp-utilisateur-connexion, #mail-utilisateur-inscription, #mdp-utilisateur-inscription, #nom-utilisateur-inscription {
    margin: 5px;
    font-size: 15px;
  }
}