
#page-recherche {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

#recherche{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-bottom: 100px; 
}

#choix-ingredients {
  margin-bottom: 15px;
}

#selection-ingredient {
  display: flex;
  flex-direction: column;
}

#div-btn-recherche {
  margin-top: 15px;
}

#btn-recherche-par-ingredient {
  font-size: 12px;
  border-radius: 5px;
}
 
#btn-hasard {
  font-size: 12px;
  border-radius: 5px;
  width: 100px;
}

#resultat-recherche {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}