@media screen and (min-width: 769px) {
  #footer {
    font-size: 20px;
    padding: 10px;
  }

  #message-abus {
    text-align: center;
  }

  #c-ml {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-right: 40px;
  }
}