.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  bottom: 0;

  width:100%;
  height: 5vh;
  background-color: #B9E8F6;
  
}

.abus {
  margin-left: 80px;
}

.cml{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  margin-right: 50px;
}
