.cocktail-name-type {
  display: flex;
  flex-direction: column;
}
#type-cocktail {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 769px) {
  .cocktail-name-type {
    flex-direction: row;
  }
  #type-cocktail {
    margin-left: 150px;
  }
}