@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  src: url('./assets/police/PirataOne-Regular.ttf')
}
@font-face {
  font-family: 'Niramit';
  font-style: normal;
  src: url('./assets//police//Niramit-Regular.ttf')
}

.nav-main {
  display: flex;
  flex-direction: column;
  /* height: 80%; */
}
