@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  src: url('./assets/police/PirataOne-Regular.ttf')
}
@font-face {
  font-family: 'Niramit';
  font-style: normal;
  src: url('./assets//police//Niramit-Regular.ttf')
}


:root {
  --body-bg-color: rgba(161, 96, 59, 0.774);
  --header-bg-color: rgba(248, 188, 77, 0.623);
  --navbar-bg-color: rgba(151, 88, 52, 0.774);
  --navbar-border-color : rgba(95, 40, 9, 0.774);
  /*--footer-bg-color: rgba(248, 188, 77, 0.623);*/
  --app-width : 1000px;
  --app-height : 100%;
  --app-bg-color : whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--app-bg-color);
}

@media screen and (min-width: 769px) {
  body {
    display: flex;
    justify-content: center;
    background-color: var(--body-bg-color);
  }

  .container {
    width: var(--app-width);
  }
}