@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  src: url('./assets/police/PirataOne-Regular.ttf')
}
@font-face {
  font-family: 'Niramit';
  font-style: normal;
  src: url('./assets//police//Niramit-Regular.ttf')
}

:root {
  --body-bg-color: rgba(161, 96, 59, 0.774);
  --body-border-color : rgba(95, 40, 9, 0.774);
  --header-bg-color: rgba(248, 188, 77, 0.623);
  --navbar-bg-color: rgba(151, 88, 52, 0.774);
  --footer-bg-color: rgba(248, 188, 77, 0.623);
  --width-app : 70vw;
  --height-app : 90vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg-color);
  width: 100vw;
  height: 100vh;
}

.container {
  width: var(--width-app);
  height: var(--height-app);
  border: var(--body-border-color) 2px solid;
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: 2fr 1fr 10fr 1fr;
}

/*.nav-main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0; 
}


@media screen and (min-width: 769px) {
  .nav-main {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
  }

  .footer {
    flex-shrink: 0; 
  }
}*/