*{
  margin: 0;
  padding: 0;
}
html, body {
  height: 100vh;
  width: 100vw;
}
body {
  font-family: 'Niramit';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}