*{
  margin: 0;
  padding: 0;
}
html {
  height: 100%;

}

body {
  font-family: 'Niramit';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  position: relative;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}