.connexion {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form {
  width: 100%;
  margin-top: 24px;
}

.no-account, .forgot-pass {
  font-size: 10px;
}