.manage-ingredients, .ingredients, .categories-ingredients {
  display: flex;
  flex-direction: column;
}

h4 {
  text-align: center;
  margin: 30px;
}



@media screen and (min-width: 769px) {
  h4 {
    margin: 50px;
  }
}