@media screen and (max-width: 768px) {
 .nav-item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-right: 5px;
  margin-left: 5px; 
  /*justify-content: flex-start;
  align-items: center;
  margin: 10px;*/
  } 
  /* .nav-item span {
    visibility: hidden;
  } */
  /*
  .icon-nav-item div:hover + span {
    visibility: visible;
  } */

  .icon-nav-item {
    font-size: 20px;
  }
  

  .txt-nav-item {
    font-size: 10px;
  }
}