@media screen and (min-width: 769px) {
 .nav-item {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  margin-left: 5px; 
  } 

  .icon-nav-item {
    font-size: 35px;
  }

  .txt-nav-item {
    font-size: 15px;
    text-align: start;
  }
}