#gestion-verres {
  width: 300px;
  background-color: rgb(187, 55, 66);
  border-style: double;
  margin: 10px 0px 10px 0px;
  height: 350px;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
}

#titre-btn-verres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
}

#titre-ajout-verres {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#btn-ajouter-verres {
  border-radius: 5px;
  font-size: 10px;
  height: 20px;
}

#items-verres {
  overflow: auto;
  }