@media screen and (min-width: 769px) {
  #gestion-verres {
    width: 450px;
    height: 400px;
  }

  #titre-ajout-verres {
    font-size: 20px;
  }

  #nom-verre-gestion {
    font-size: 18px;
  }

  #icon-ajout-verre {
    font-size: 50px;
  }

  #icon-modification-verre, #icon-suppression-verre {
    font-size: 30px;
  }
}