@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cocktail-aleatoire {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-cocktail-aleatoire {
   /*  display: flex;
    align-items: center; */
    width: 100px;
    height: 150px;
  }
  
  .nom-cocktail-aleatoire {
    font-size: 20px;
  }
}