 @media screen and (min-width: 769px) {
  #titre-cocktail-moment {
    font-size: 30px;
  }
/*
  .img-cocktail-aleatoire {
    width: 200px;
    height: 300px;
  }
  
  .nom-cocktail-aleatoire {
    font-size: 20px;
  }*/
} 
