@media screen and (min-width: 769px) {
  #titre-cocktail { 
    font-size: 30px;
  }
  
  #titre-ingredients, #titre-preparation, #titre-verre {
    font-size: 25px;
  }

  #nom-verre, .ingredient{
    font-size: 22px;
  }

  #etapes {
    font-size: 20px;
  }
  
  .num-etape {
    display: flex;
    flex-direction: row;
    /* font-size: 12px; */
    width: 100%;
  }
  
  .titre-etape {
    width: 200px;
  }
  
  .texte-etape {
    width: 800px;
  }

}