h3 {
  font-size: 15px;
  margin-bottom: 10px;
}
  
.img-cocktail-recette {
  width: 200px;
  height: 300px;
}

#recette-cocktail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ingredients-verre {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

#liste-ingredients {
  margin-right: 20px;
}

#verre {
  margin-left: 20px;
}

#nom-verre, .ingredient{
  font-size: 12px;
}

.etapes-preparation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}