@media screen and (min-width: 769px) {
  #titre-cocktail { 
    font-size: 30px;
  }

  #ingredients-verre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #titre-ingredients, #titre-preparation, #titre-verre {
    font-size: 25px;
  }

  #titre-quantite {
    display: flex;
    flex-direction: row;
  }

  #nbr-verre {
    margin-left: 30px;
    font-size: 20px;
    /* align-items: center; */
  }

  #nom-verre, .ingredient{
    font-size: 22px;
    display: flex;
    flex-direction: row;
  }

  #etapes {
    font-size: 20px;
  }
  
  .num-etape {
    display: flex;
    flex-direction: row;
    /* font-size: 12px; */
    width: 100%;
  }
  
  .titre-etape {
    width: 120px;
  }
  
  .texte-etape {
    width: 800px;
  }

}