@media screen and (min-width: 769px) {
  #titre-cocktail { 
    font-size: 30px;
  }
  
  #titre-ingredients, #titre-preparation, #titre-verre {
    font-size: 25px;
  }

  #nom-verre, .ingredient{
    font-size: 22px;
  }

  .etapes-preparation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #preparation {
    font-size: 22px;
  }
}