#titre-cocktail {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#titre-ingredients, #titre-preparation, #titre-verre {
  font-size: 15px;
  margin-bottom: 10px;
  text-decoration: underline;
}

#recette-cocktail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ingredients-verre {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

#liste-ingredients {
  margin-right: 20px;
}

#titre-quantite {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

#nbr-verre {
  margin-left: 10px;
}

.ingredient {
  display: flex;
  flex-direction: row;
}

#verre {
  margin-left: 20px;
}

#nom-verre, .ingredient{
  font-size: 10px;
}

.etapes-preparation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#etapes {
  font-size: 10px;
}

.num-etape {
  display: flex;
  flex-direction: row;
  /* font-size: 12px; */
  width: 100%;
}

.titre-etape {
  font-weight: bold;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.texte-etape {
  width: 250px;
}
