#titre-gestion {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#gestion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gestion-ingredients {
  width: 320px;
  background-color: rgb(55, 187, 55);
  border-style: double;
  margin: 10px 0px 10px 0px;
}

