@media screen and (min-width: 769px) {
  #titre-gestion {
    font-size: 25px;
  }

  #gestion {
    flex-direction: column;
    align-items: flex-start;
  }

  .gestion-cocktails, .gestion-ingr-verres{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

}