#titre-gestion {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

#gestion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#gestion-ingredients {
  background-color: rgb(55, 187, 55);
  border-style: double;
}

#gestion-cocktails {
  background-color: rgb(36, 177, 170);
  border-style: double;
}