@media screen and (min-width: 769px) {
  #titre-mentions-legales {
    font-size: 30px;
  }

  #creatrice {
    margin: 20px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  #remerciement {
    margin: 20px;
    font-size: 20px;
  }
  
  #liste-photographe {
    margin-left: 60px;
  }
} 