#formulaire-ajout-ingredient {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  margin-top: 30px;
}

#input-ajout-ingredient {
  font-size: 12px;
  margin-right: 10px;
}

#btn-ajout-ingredient {
  font-size: 12px;
  width: 100px;
  margin-left: 10px;
  border-radius: 5px;
}