.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15vw;
 /* height: 84.7vh;*/
  background-color: #DAECF1;
  border: 1px solid #2587A5;
}

.navmenu {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 5px;
}
