#navbar-css {
  background-color: #DAECF1;
  display: flex; 
  flex-direction: row;
  justify-content: space-around; 
}

#non-connecte {
  display: flex;
  flex-direction: row;
}

#connecte {
  display: flex;
  flex-direction: row;  
}

.visible {
  display: block;
}

.invisible {
  display: none;
}