#navbar {
  width: 100%;
  background-color: #DAECF1;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#non-connecte {
  display: flex;
  flex-direction: row;
  margin-left: 3px;
  margin-right: 5px;
}

#connecte {
  display: flex;
  flex-direction: row;  
  margin-left: 3px;
  margin-right: 3px;
}

#gerant { 
  margin-left: 3px;
  margin-right: 5px;
} 