@media screen and (min-width: 769px) {
  #navbar {
    height: 100%;
    width: 15%;
    display: flex; 
    flex-direction: column;
    /* justify-content: space-around;  */
  }

  #non-connecte {
    display: flex;
    flex-direction: column;  
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #connecte {
    display: flex;
    flex-direction: column;  
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #gerant {
    margin-top: 50px;
    margin-bottom: 50px;
  } 
}