@media screen and (min-width: 769px) {
  #navbar {
    display: flex; 
    flex-direction: row;
  }

  #non-connecte {
    display: flex;
    flex-direction: row;  
  }

  #connecte {
    display: flex;
    flex-direction: row;  
  }
}