#titre-cocktail-aleatoire {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#div-cocktail-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktail-aleatoire {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.img-cocktail-aleatoire {
  width: 100px;
  height: 150px;
}
  
.nom-cocktail-aleatoire {
  font-size: 15px;
  text-align: center;
}

#btn-autre-cocktail {
  font-size: 12px;
  border-radius: 5px;
  margin-bottom: 20px;
}