#titre-modif-verre {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#donnees-verre {
  font-size: 15px;
}

#btn-modif-verre {
  font-size: 10px;
  margin: 10px;
}