#gestion-ingredients {
  width: 320px;
  background-color: rgb(55, 187, 55);
  border-style: double;
  margin: 10px 0px 10px 0px;
}

#titre-btn-ingredients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
}

#btn-ajouter-ingredient {
  border-radius: 5px;
  font-size: 10px;
  height: 20px;
}