@media screen and (min-width: 769px) {
  #gestion-ingredients {
    width: 450px;
    height: 400px;
  }

  #titre-ajout-ingredient {
    font-size: 20px;
  }

  #nom-ingredient-gestion {
    font-size: 18px;
  }

  #icon-ajout-ingredient {
    font-size: 50px;
  }

  #icon-modification-ingredient, #icon-suppression-ingredient {
    font-size: 30px;
  }
}