#gestion-ingredients {
  width: 300px;
  background-color: rgb(55, 187, 55);
  border-style: double;
  margin: 10px 0px 10px 0px;
  height: 350px;
  display: flex;
  flex-direction: column;
}

#titre-btn-ingredients {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
}

#titre-ajout-ingredient {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#btn-ajouter-ingredient {
  border-radius: 5px;
  font-size: 10px;
  height: 20px;
}

#items-ingredients {
  overflow: auto;
}

.item-ingredient{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nom-ingredient-gestion {
  margin:  0px 4px 0px 4px;
}

.btn-gestion-supp-ingredient, .btn-gestion-modif-ingredient {
  margin: 0px 2px 0px 2px;
}

#icon-ajout-ingredient {
  font-size: 40px;
}